*
!.gitignore
!berkas/
!berkas/**
!alur-pelayanan/
!alur-pelayanan/**
!layanan/
!layanan/**
!sambutan/
!sambutan/**
!img-berita/
!img-berita/**
!img-gallery/
!img-gallery/**
!img-logo/
!img-logo/**
!img-perangkat/
!img-perangkat/**
!img-slider/
!img-slider/**
!img-profil/
!img-profil/**